/* 
	reset the page to default settings
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Begin Page Style
*/

/*
	Roboto available in weights:
		100
		300
		400
		900
*/


body {
	width: 100%;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5em;
	color: #262626;
}

h2 {
	font-size: 30px;
	line-height: 2em;
	/*font-weight: 100;*/
}

p {
	padding-top: 10px;
	padding-bottom: 10px;
}

#header {
	height: 25px;
	background-color: #262626; 
}

#footer {
	height: 25px;
	background-color: #262626; 
	bottom: 0px;
	width: 100%;
	position: fixed;
}

#mainContainer {
	width: 600px;
	padding: 50px;
	/*background-color: #f2f2f2;*/
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#lamp {
	width: 300px;
	height:200px;
	margin: 50px 0 50px 0;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*background-color: gray;*/
}

.lampArm {
	width: 300px;
	padding: 10px;
	position: absolute;
	-webkit-transform-origin: 39% 29%;
	transition: 3s;
}

.lampArmUp {
	-webkit-transform: rotate(-15deg);
}

.lampArmMd {
	-webkit-transform: rotate(15deg);
}

.lampArmDn {
	-webkit-transform: rotate(30deg);
}

.lampShade {
	width: 300px;
	padding: 10px;
	position: absolute;
	transition: 3s;
}

.lampShadeUp {
	-webkit-transform: translateY(-40px);
}

.lampShadeMd {
	-webkit-transform: translateY(35px);
}

.lampShadeDn {
	-webkit-transform: translateY(70px);
}

.lampBase {
	width: 300px;
	padding: 10px;
	position: absolute;
}

.heading {
}

.bttn {
	width: 150px;
	height: 50px;
	background-color: #fafafa;
	border: 1px solid #AEAEAE;
	border-radius: 2px;
	margin-right: 10px;
	margin: 10px 10px 10px 0;
	box-shadow: 0px 2px 2px #e5e5e5;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: .25px;
	-webkit-transition: all 0.25s ease;
}

.bttn:hover {
	background-color: #e5e5e5;
	/*color: #f2f2f2;*/
	border: 0px solid #f2f2f2;
}